.overlay
{
    position: relative;
    padding-right: 15px;
     padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bottom-right
{
    position: absolute;
    bottom: 8px;
    right: 16px;   
}

.roww 
{
    display: flex;
}

.logout
{
    width:85px; 
    margin-bottom:20px;
    
}

.logout:hover
{
    transition: width 0.5s;
    width: 95px;
    cursor: pointer;
}