@import url('https://fonts.cdnfonts.com/css/gotham-6');
body {
    font-family: 'Gotham Black', sans-serif;
    margin: 0;
    padding: 0;
}

#myKanban {
    /* overflow-x: auto; */
    padding: 20px 5%;
}

.success, .info, .warning, .error {
    padding: 10px;
}

.success {
    background: #00b961;
}

.info {
    background: #2a92bf;
}

.warning {
    background: #f4ce46;
}

.error {
    background: #fb7d44;
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 5%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 5%;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}

.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(3px);
}

.visevent{
    display: block;
}
.formedit{
    display: none;
}

.logout
{
    width:85px; 
    margin-bottom:20px;
    
}

.logout:hover
{
    transition: width 0.5s;
    width: 95px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    #myKanban {
        padding: 20px 2%;
    }

    .custom-button,
    .button {
        padding: 7px 3%;
    }

    .logout {
        width: 75px;
    }
}